.logo {
  margin-left: 50px;
  font-size: 24px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-size: 20px;
}

.nav-links a:last-child {
  margin-right: 80px;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Global Styles */
body {
  font-family: 'Inter', sans-serif;
  background: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Container */
.container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
}

/* Headers */
h1, h2, h3 {
  margin-bottom: 10px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 5px;
}

h2 {
  font-size: 1.8rem;
  margin-top: 40px;
  margin-bottom: 15px;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}

h3 {
  font-size: 1.3rem;
  margin-bottom: 5px;
  color: #555;
}

/* Paragraphs and Lists */
p, li {
  font-size: 1rem;
  margin-bottom: 8px;
}

ul {
  margin-left: 20px;
}

/* Sections */
.section {
  margin-bottom: 40px;
}

.job {
  margin-bottom: 20px;
}

/* Contact Info */
.contact-info {
  font-weight: 500;
  margin-bottom: 20px;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Links */
a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.download-button {
  position: fixed;
  top: 120px;           /* slightly below the header */
  right: 50px;
  z-index: 1100;       /* above header */
  padding: 10px 20px;
  background-color: #494c49;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  font-weight: bold;
  transition: background-color 0.3s;
}


.download-button:hover {
  background-color: #0056b3; /* Darker color on hover */
}
